**/__pycache__
outputs
logs
multirun
lightning_logs
**/*.ipynb
scratches
tmp
data
jobs
**/*egg-info
results
rec_dir
!reproduce_glorys_ose_results.ipynb
!ose_data_pipeline.ipynb
reproduce/*.ckpt
*.png
TRAINING-TEST/launch_main.sh
TRAINING-TEST/launch_main_4d.sh
TRAINING-TEST/launch_rec.sh
TRAINING-TEST/launch_rec_concat.sh
TRAINING-TEST/log/
TRAINING-TEST/rec/
TRAINING-TEST/data/

2023a_SSH_mapping_OSE/data
2023a_SSH_mapping_OSE/figures  
2023a_SSH_mapping_OSE/nb_diags_THEO/data
2023a_SSH_mapping_OSE/nb_diags_THEO/figures
2023a_SSH_mapping_OSE/nb_diags_THEO/results
2023a_SSH_mapping_OSE/nb_diags_THEO/uv_score_mask/results

DOWNLOAD_DATA/*.log